/* stylesheet */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px 128px 32px;
    gap: 16px;
    font-size: 24px;
}

.logo {
    margin-right: auto;
}

.container-1 {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 64px 128px 64px;
    justify-content: space-between;
}

.placeholder {
    display: flex;
    justify-content:center;
    align-self: center;
    width: 500px;
    height: 250px;
    background-color: grey;
    object-fit: contain;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900px;
}

.hero-subtext {
    font-size: 18px;
}

.hero-text,
.hero-subtext {
    margin: 0px;
}

button {
    align-self: flex-start;
    margin: 8px 0px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
}

.hero-2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    padding: 16px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.projects {
    display: flex;
    gap: 16px;
    margin: 0px 300px 0px;
    text-align: center;
}

.project-1,
.project-2,
.project-3,
.project-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.first-project,
.second-project,
.third-project,
.fourth-project {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 175px;
    height: 175px;
    object-fit: contain;
    margin: 0px;
}

.subtext-1,
.subtext-2,
.subtext-3,
.subtext-4 {
    display: flex;
    padding: 8px;
}

.container-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 64px;
    justify-content: center;
    align-items: center;
}

.quote-block {
    display: flex;
    flex-direction: column;
    width: 760px;
    color: #1F2937;
}

.quote {
    font-style: italic;
    font-size: 36px;

}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.cta {
    display: flex;
    margin: 64px 128px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6; 
    padding: 32px;
    color: white;
    gap: 128px;
    border-radius: 15px;
}

span {
    font-weight: bold;
    font-size: 24px;
}

.last {
    border: 3px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 16px;
}